body {
    background-color:#FFFAF0;
    font-family: 'Nunito', sans-serif;
}

#header {
    padding: 20px;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/*Self Picture*/ 
div#wrapperHeader div#header {
 width:100%;
 height:300px;
 padding:auto;
}

div#wrapperHeader div#header img {
 width:100%; /* the width of the logo image */
 height:300px; /* the height of the logo image */
 padding:auto;
 box-shadow: 10px 10px 5px grey;
 border-radius: 30px;
 overflow: hidden;
 
}

/*Main title*/ 
h1 { 
    color: #DDADAF; 
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center; 
    text-size:600px; 
    border-bottom: dotted;
    border-bottom-width: 0px;
    margin-top: 40px; 
}

header img {
    display:inline-block;
    vertical-align:left;
    width:290px;
    height:400px;
    margin-right: 200px;
    position: relative; 
    margin-top: 0px; 
    opacity: 0.8;
    filter: alpha(opacity=50);
    border-radius: 45%;
    
 }

/*navigation*/ 
ul {
    list-style-type: none;
    display: inline-block;
    margin:0;
    padding:0; 
    overflow:hidden;
    background-color:##FFFAF0;
    border: dotted;
    border-color: #DDADAF;
}

li {
    float: center;
}

li a {
    
    font-family: 'Nunito', sans-serif;
    display: block;
    color:#B0C4DE;
    text-align: center;
    padding:10px 17px;
    text-decoration:none;
    font-weight: thick;
    height:20px;
}

li a:hover {
    background-color:#CD9575;
}

/*main posts*/ 
div.imagecaption{
     float: left;
     width: 600px;
     margin: 0 1em 1em 1em;
     display:block;
     padding:2px;
     background: #DDADAF;
     color: #FFFAF0;
     border-radius: 15px;
     margin-top: -550px;
     margin-left:400px;
  }

div.imagecaption img{
    float: left;
    border: 1px solid #fff;
    width:250px;
    height:250px;
    padding:20px;
}
div.imagecaption p {
    float: right;
    margin-right: 8px;
    width: 290px;
    word-wrap: break-word;
}

div.imagecaption2 {
     float: left;
     width: 600px;
     margin: 0 1em 1em 1em;
     display:block;
     padding:2px;
     background: #DDADAF;
     color: #FFFAF0;
     border-radius: 15px;
     margin-top: 50px;
     margin-left:400px;
  }
  
  div.imagecaption2 img{
    float: left;
    border: 1px solid #fff;
    width:250px;
    height:250px;
    padding:20px;
    
}
div.imagecaption2 p {
    float: right;
    margin-right: 8px;
    width: 290px;
    word-wrap: break-word;
}

  div.imagecaption3 {
     float: left;
     width: 600px;
     margin: 0 1em 1em 1em;
     display:block;
     padding:2px;
     background: #DDADAF;
     color: #FFFAF0;
     border-radius: 15px;
     margin-top: 50px;
     margin-left:400px;
  }
  
  div.imagecaption3 img{
    float: left;
    border: 1px solid #fff;
    width:250px;
    height:250px;
    padding:20px;
}
  div.imagecaption3 p {
    float: right;
    margin-right: 8px;
    width: 290px;
    word-wrap: break-word;
}
 /*to make the container be on top of each other*/
.flex-container {
  display: flex;
  flex-direction: column;
}

/*footer*/

#footer {
    background-color: #B0C4DE;
    height: 80px;}
#footer p 
{
    color: #fff;
    text-align: center;
    padding: 25px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    
}